.flex-container1 {
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 1px;
}
